doctype html
html(lang="en")
    head
        include templates/header
    body 
        header.barra 
            h1  #{title}


            //- pre= varDump(allProjects)
            //- script(src="/dist/bundle.js")